body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; /* Remove a barra de rolagem horizontal do contêiner */

}

*{
    font-weight: 400;
    font-family: 'Poppins', sans-serif !important;

}
body{
    background-color: white;
}
section#sectlink{
    display: flex;
    margin-top: 5% !important;
    width: 75%;
    margin: auto;
    border: 1px solid black;
}
div#iniciolink{
    width: 90%;
}
#cabecalhoaddlink{
    background-image: url(881.jpg);
    background-size: cover; /* Faz com que a imagem cubra todo o espaço do elemento */
    background-position: center; /* Centraliza a imagem */
    text-align: center;
    color: white;
    overflow: hidden; /* Garante que o pseudo-elemento não exceda os limites */
    margin-bottom: 5%;
}
div#imagemlink > img{
    width: 80%;
    margin:auto;
    margin-top: 5%
}
section.secaomain, #sect_addlink{
    width: 70%;
    height: 100%;
    padding-bottom: 20px;
    margin: auto;
    color: black;
    border: 1px solid #0563FA;
    margin-top: 6%;
    background-color: white;
    border-radius: 20px;
    align-items: center;
}

#sect_addlink{
    width: 60%;
}
header{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}

header h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 10%;
    margin-top: 25px !important;
}

header p{
    font-size: 16px;
}
#sect_addlink{
    border: none;
    width: 50%;
}

#sect_addlink > h2{
    text-align: center;


}



#btnnovolink, #btn_vamosla, #btn_adicionarlink{
    width: 30%;
    height: 35px;
    color: black;
    font-size: 14px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid black;
    background-color: transparent;
    border-radius: 10px;
    margin: auto;
    display: block; /* Ensures that the link behaves as a block element */
    text-align: center; /* Aligns the content (the button) to the center */
    margin-top: 5%;
    font-weight: 500 !important;
}
#btn_adicionarlink{
    margin-bottom: 20px;
    color: white;
    border: 2px solid white;
    font-weight: bold;
}
#btnnovolink:hover{
    transform: scale(1.1); /* Aumenta o tamanho em 10% quando o mouse passa sobre o botão */

}
#btn_vamosla:hover{
    transform: scale(1.1); /* Aumenta o tamanho em 10% quando o mouse passa sobre o botão */

}
label{
    font-size: 14px;
    margin-left: 25%;   

}
select.plataforma{
    width: 50%;
    height: 5vh;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    margin: auto;
    border: none;
    display: block; /* Ensures that the link behaves as a block element */
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid black;

}
select.plataforma:hover{
    border: 1px solid black;

}

:optional{
    border: 1px solid rgb(198, 198, 198) !important;
    font-weight: 500;
    text-align: left;
    height: 5vh;
}
:optional:hover{
    border: 1px solid black;
}

input[type = "text"], input[type = "email"]{
    width: 50%;
    height: 5vh;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    margin: auto;
    border: none;
    display: block; /* Ensures that the link behaves as a block element */
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid black;

   

}
 #btnProximo, .button{
    width: 50%;
    height: 5vh;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    margin: auto;
    border: none;
    display: block; /* Ensures that the link behaves as a block element */
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid #025FE0;
 }

 #btnProximo:hover{
    transform: scale(1.1); /* Aumenta o tamanho em 10% quando o mouse passa sobre o botão */

}

#sectinfo{
    width: 50%;
    margin-top: 4%;
    border: none;

}

#sectinfo header{
    background-image: url(imageminfo.jpg);
    background-size: cover; /* Faz com que a imagem cubra todo o espaço do elemento */
    background-position: center; /* Centraliza a imagem */
    text-align: center;
    color: white;
    overflow: hidden; /* Garante que o pseudo-elemento não exceda os limites */
    margin-bottom: 5%;
}

#sectinfo h2 {
    font-size: 25px;
    margin-top: 0px !important;
}
#form_informacoes{ /*Form que esta na div sectinfo*/
    width: 100%;
    margin: auto;
    border: 1x solid black;
}
#fotoescolhida{
    width: 200px;
    margin-left: 25%;
    margin-top: 10px;
}
#imagemSelecionada{
    margin-left: 35%;
}


html, body {
    margin: 0; /* Remove margens padrão do body */
    padding: 0; /* Remove preenchimento padrão do body */
}

#paglinks {
    text-align: center !important;
    display: none;
    width: 100%;
    height: 100vh;
    margin-top: 0;
    color: white;
    background-image: url(1666.jpg);
    background-size: cover;  /* Faz a imagem cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    border-radius: 0;
    border: none;
}


#imagemperfil{
    width: 30%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 5%;
    margin-bottom: 3%;
}
#nomeperfil {
    font-size: 15px;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 320px;
    display: inline-block; /* Faz com que o <h2> ocupe apenas o espaço necessário */
}

#sobrenome{
    font-size: 15px;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 320px;
    display: inline-block; /* Faz com que o <h2> ocupe apenas o espaço necessário */
}
#emaillink{
    font-size: 15px;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 320px;
    display: inline-block; /* Faz com que o <h2> ocupe apenas o espaço necessário */
}
a{
    color: black;
}
#p_links{
    font-size: 18px;
    color: black !important ;
    font-size: 15px;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 320px;
    display: inline-block; /* Faz com que o <h2> ocupe apenas o espaço necessário */
}

